In [5]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.2 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (2.2.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (2.2.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Downloading statsmodels-0.14.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 49.8 MB/s eta 0:00:00:00:01
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.1 statsmodels-0.14.4

In [6]:
# import packages
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Include this to have plots show up in your Jupyter notebook.
%matplotlib inline 

# For the Hull logit
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score
from sklearn.metrics import precision_recall_curve, auc, average_precision_score

In [7]:
loans = pd.read_csv('https://raw.githubusercontent.com/aaiken1/fin-data-analysis-python/main/data/loan_data.csv', index_col=0)

In [8]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29092 entries, 1 to 29092
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loan_status     29092 non-null  int64
 1   loan_amnt       29092 non-null  int64
 2   int_rate        26316 non-null  float64
 3   grade           29092 non-null  object
 4   emp_length      28283 non-null  float64
 5   home_ownership  29092 non-null  object
 6   annual_inc      29092 non-null  float64
 7   age             29092 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 2.0+ MB

In [ ]:
loans.describe() #not showing me any objects, needs better format

,loan_status,loan_amnt,int_rate,emp_length,annual_inc,age
count,29092.000000,29092.000000,26316.000000,28283.000000,2.909200e+04,29092.000000
mean,0.110924,9593.505947,11.004567,6.145282,6.716883e+04,27.702117
std,0.314043,6323.416157,3.239012,6.677632,6.360652e+04,6.231927
min,0.000000,500.000000,5.420000,0.000000,4.000000e+03,20.000000
25%,0.000000,5000.000000,7.900000,2.000000,4.000000e+04,23.000000
50%,0.000000,8000.000000,10.990000,4.000000,5.642400e+04,26.000000
75%,0.000000,12250.000000,13.470000,8.000000,8.000000e+04,30.000000
max,1.000000,35000.000000,23.220000,62.000000,6.000000e+06,144.000000